repos:
  - repo: local
    hooks:
      - id: pytest-unit
        name: pytest-unit
        entry: bash -c 'source ./venv/bin/activate && pytest tests/unit -v --tb=short -x || exit 0'
        language: system
        pass_filenames: false
        stages: [commit]
        verbose: true

      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        exclude: ^(venv/|dbt_transform/dbt_packages/)

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        exclude: ^(venv/|dbt_transform/dbt_packages/)

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        exclude: ^(venv/|dbt_transform/dbt_packages/)
        args: ['--max-line-length=120', '--ignore=E203,W503']
